.logoSidebar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pageTitle {
  font-size: 30px;
  margin-top: 60px;
  top: 100px;
  margin-left: 420px;
}

.rowHr {
  position: relative;
  width: 100%;
  top: 10px;
}

.myPageContents {
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}
.myPageBoard {
  width: 200px;
}

.linePage {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.line {
  position: absolute;
  border-left: 1px solid black;
  height: 100%;
  margin-top: 0px;
  top: -17px;
  margin-right: 10px;
  left: 20px;
}

.myPageBoard {
  margin: 10px;
}

.myPage {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.board {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.myPageBoardTitle {
  color: #263392;
  margin: 5px;
}

.myPageBoardMenu {
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  padding-left: 0;
  margin: 5px;
  text-align: left;
  cursor: pointer;
}

.thisPage {
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  padding-left: 0;
  margin: 5px;
  text-align: left;
  font-weight: bold;
}

.myPageMenuWrap {
  display: flex;
  justify-content: left;
  margin-left: 30px;
  align-items: center;
  width: 850px;
  height: 800px;
}

.myPageMenu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}
