.infoChangeWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1250px;
  height: 800px;
}
.infoChange {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoChangeHeader {
  font-size: 30px;
  padding: 10px;
}
.infoChangeContents {
  display: flex;
  padding: 10px;
}
.infoChangeLabel {
  display: inline-block;
  text-align: center;
  width: 70px;
  padding: 3px;
}
.infoChangeInput {
  border-radius: 5px;
  padding: 5px;
  border: 0.5px solid black;
  width: 250px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.infoChangeInput:hover {
  border: 1px solid black;
}
.infoChangeButtonWrap {
  padding: 5px;
}
.infoChangeButton {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #263392;
  color: white;
  border: 1px solid #263392;
}
.infoChangeCancleButton {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}
