.infoChangePageWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 800px;
}
.infoChangePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: relative;
}

.infoChangeHeader {
  font-size: 30px;
  padding: 10px;
}
.infoChangeLabel {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width: 80px;
}

.infoChangeInputWrap {
  margin: 20px;
}

.infoChangeInput {
  padding: 5px;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 0.5px solid black;
}

.infoChangeInput:hover {
  border: 1px solid black;
}

.infoChangeBtnWrap {
  position: relative;
  top: 10px;
}

.infoChangeBtn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #263392;
  color: white;
  border: 1px solid #263392;
}

.infoChangecancleBtn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}
