.noticePageWrap {
  display: flex;
  align-items: flex-start;
  height: 800px;
}

.noticeTable {
  margin-top: 0;
  border-collapse: collapse;
}

.noticeTable th,
.noticeTable td {
  border: #cfcfcf 1px solid;
  height: 30px;
  padding: 5px;
}

.noticeTable thead {
  border-top: none;
}

.noticeTable th:first-child,
.noticeTable td:first-child {
  border-left: 0;
}
.noticeTable th:last-child,
.noticeTable td:last-child {
  border-right: 0;
}

.noticeTdIndex {
  width: 80px;
  text-align: center;
}

.noticeTdTitle {
  width: 500px;
  text-align: center;
}

.noticeTdTitle.notCenter {
  text-align: left;
}

.noticeTdWriter {
  width: 100px;
  text-align: center;
}

.noticeTdDate {
  width: 100px;
  text-align: center;
}

.noticeTdIndex.ntIndex {
  border-top: none;
  border-bottom: #cfcfcf 5px solid;
}

.noticeTdTitle.ntTitle {
  border-top: none;
  border-bottom: #cfcfcf 5px solid;
}

.noticeTdWriter.ntWriter {
  border-top: none;
  border-bottom: #cfcfcf 5px solid;
}

.noticeTdDate.ntDate {
  border-top: none;
  border-bottom: #cfcfcf 5px solid;
}

.noticeTdTitleContents {
  text-decoration: none;
  color: black;
}
